function Plane.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
call Plane.drawPlane 1
pop temp 0
push pointer 0
return
function Plane.drawPlane 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 1
sub
push this 1
push constant 1
add
push this 0
push constant 1
add
push this 1
push constant 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 2
add
push this 0
push constant 2
add
push this 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 3
add
push this 0
push constant 3
add
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 4
add
push this 0
push constant 4
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Plane.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 4
sub
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 1
add
push this 0
push constant 4
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 5
add
push this 0
push constant 4
add
push this 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Plane.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 250
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 4
sub
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 1
add
push this 0
push constant 4
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 5
add
push this 0
push constant 4
add
push this 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push this 1
push constant 1
add
pop this 1
label IF_FALSE0
push constant 0
return
function Plane.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 4
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
sub
push this 1
push this 0
push constant 5
sub
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 4
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
sub
pop this 0
label IF_FALSE0
push constant 0
return
function Plane.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 507
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
add
pop this 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
sub
push this 1
push this 0
push constant 5
sub
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 4
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Plane.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
